:root{
    --color-dark:#011b12;
    --color-clear:#e0dcd5;
    --color-green:#04724D;
    --color-red:#BF3100;
    --color-white:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    border:0;

    font-family: sans-serif;
}

.loading{
    transition: none !important;
}

body{
    position: relative;
    min-height:100vh;
}

a{
    text-decoration: none;
    color:var(--color-white);
}

nav{
    padding:.5rem 2rem;
    background-color: var(--color-dark);

}
nav ul{
    display:flex;
    justify-content: right;
    gap:1rem;
    list-style-type:none;
    color:var(--color-white);
}

nav ul li a{
    padding:.5rem; 
    transition:500ms;
    border-radius:.5rem;
}
nav ul li a:hover{
    background-color: var(--color-green);
}
section{
    padding: 2rem 5rem;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:var(--color-clear);
    gap:2rem;
}

.title{
    font-size:2rem;
}

.description{
    text-align: right;
    margin-top:1rem;
}

.about-me-img-container{
    position: relative;
    width:14rem;
    height: 14rem;
    overflow:hidden;
    border-radius: 50%;
    border:1rem solid var(--color-green);
    overflow: hidden;
}

.about-me-img-container img{
    width: 15rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
}

.about-me-img-container img:hover{
    width: 35rem;
}
.skills{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-white);
}

table{
    text-align: center;
    background-color: var(--color-clear);
    padding: .25rem;
    border-radius: .5rem;
}


th{
    background-color: var(--color-green);
    color:var(--color-white);
    border-radius: .5rem;
    padding:.25rem 0;
}

td{
    width: 8rem;
}

footer{
    position:absolute;
    color:var(--color-white);
    background-color:var(--color-dark);
    padding:.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:.25rem;

    left:0;
    right:0;
    bottom:0;
}

.footer-links-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-links-container a{
    color: var(--color-white);
    margin:0 8rem;
}

.highlight{
    color:var(--color-green);
}